{% extends "base.html" %}

{% block page_title %}
Sign Up
{% endblock page_title%}

{% block content %}
<div class="container flex flex-col items-center mx-auto my-10 border border-gray-400 p-6 xl:w-1/4 md:w-1/2 lg:w-5/12">
    {% include "partials/social_login.html" %}
    {% include "mixins/auth/auth_form.html" with form=form cta="Sign Up" %}
    <div class="mt-5">
        <span class="mr-2">Do you have an account?</span>
        <a href="{% url 'users:login' %}" class="text-green-500 font-medium">Log In</a>
    </div>
</div>


{% endblock content %}